.listing {
margin: 1rem 0;
box-shadow: 2px 4px 8px silver;
height: 10rem;
}

.listing img, .detail img {
width: 100%;
height: -webkit-fill-available;
object-fit:cover
}

.listing .description {
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}

.price {
font-weight: bold;
text-align: center;

}

.bid {
background-color: orange;
}

.sold {
background-color: red;
}

.no_bid {
background-color: green;
}

.listing_label {
padding: .5rem;
text-align: center;
border-radius: .5rem;
color: white;
font-weight: bold;
}

.comment {
margin: 1rem 0;
box-shadow: 2px 4px 8px silver;
padding-top: 1rem;
}

.comment .username {
font-weight: bold;
}

.date {
font-size: small;
text-align: right;
}

.comment .text {
padding: 0 1rem;
font-style: italic;
}


.detail .description_full label{
font-weight: bold;
}

.detail .description_full {
margin-top: 1rem;

}

.detail {
margin: auto;
height: 68vh;
}

.other-detail{
padding-top: 1rem
}

.listing_label div label {
margin: 0;
}
.comment-form {
padding: 1rem 0 ;
}
.comment-form label{
display: None
}

.comment-form label{
display: None
}

.comment-form #id_text{
width:100%;
height: 3rem;
}