.env
media
.idea
__pycache__
.DS_Store.env
media
db.sqlite3
.idea
__pycache__/*
migrations
.DS_Store
.gitignore

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore Vim swap files
.*.swp

# Ignore specific directories
auctions/__pycache__/
counters/__pycache__/
project_manager/__pycache__/
resume/__pycache__/
mysite/__pycache__/*

static/