{% extends "auctions/layout.html" %}

{% block body %}
<div class='container'>
    <div class="row justify-content-center">
            {% if not listing.is_active %}
                <div class='col-auto listing_label sold' style='margin: 1rem 0'>
                    This auction is closed.
                    {% if listing.highest_bid.user == user %}
                        You win this Auction!!!
                    {% else %}
                        {% if listing.bids.all %}
                            {{ listing.highest_bid.user }} win this auction!
                        {% else %}
                            There was no bids.
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
</div>
    <div class='container listing detail'>
        <div class='row '>
            <div class='col' style="height:inherit; padding: 0">
                <img src='{{ listing.image_url }}'>
            </div>
            <div class='col' style='padding: 1rem;'>
                <div class='row justify-content-start'>
                    <div class='col-auto title'>
                        <h3>{{ listing.title }}</h3>
                    </div>
                </div>
                <div class='row price'>
                    <div class='col-auto'>
                        {% if listing.bids.all %}
                            <p>{{ listing.highest_bid.bid }}$</p>
                        {% else %}
                            <p>{{ listing.starting_bid }}$</p>
                        {% endif %}
                    </div>
                </div>
                <div class='row justify-content-start'>
                    <div class='col-auto bid_info'>
                        {% if listing.bids.all %}
                            <p>{{ listing.bids.count }} bid(s) so far.</p>
                        {% endif %}
                    </div>
                </div>

                {% if user.is_authenticated %}
                <div class='row'>
                    <div class='col'>
                        {% if listing.user == user and listing.is_active %}
                            <form action="{% url 'closelisting' listing.id %}" method=post>
                                {% csrf_token %}
                                <input type=submit value='Close auction'>
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class='row'>
                    <div class='col bid_info'>
                        {% if listing.highest_bid.user == user %}
                            <p>Your bid is the current bid</p>
                        {% endif %}
                    </div>
                </div>
                <div class='row '>
                    <div class='col bid_form'>
                        {% if listing.is_active and listing.user != user and listing.highest_bid.user != user %}
                            <form action="{% url 'listing' listing.id %}" method='post'>
                                {% csrf_token %}
                                {{ bid_form }}
                                <input type=submit value="Place Bid">
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class='row'>
                    <div class='col wishlist'>
                        {% if listing.user != user and listing.is_active %}
                             <form action='wishlist' method="post" >
                                {% csrf_token %}
                                <input value="{{ listing.id }}" name='listing_id' type="hidden" >
                                    {% if user in listing.followers.all %}
                                        <input type=submit value="Remove from Wishlist">
                                    {% else %}
                                        <input type=submit value="Add to Wishlist">
                                    {% endif %}
                             </form>
                        {% endif %}
                    </div>
                </div>

                {% endif %}
                <div class='row description_full'>
                    <div class='col'>
                        <label>Description</label>
                        <p>{{ listing.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='container other-detail'>
        <div class='row justify-content-end'>
            <div class='col-auto'>
                <table>
                    <tr>
                        <td>Category:</td>
                        <td><a href= "{% url 'category' listing.category %}">{{ listing.category }}</a></td>
                    </tr>
                    <tr>
                        <td>Listing id:</td>
                        <td>{{ listing.id }}</td>
                    </tr>
                    <tr>
                        <td>Seller:</td>
                        <td>{{ listing.user }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    {% include 'auctions/partials/comments.html' %}
{% endblock %}