{% extends "counters/base.html" %}

{% block content %}
<div class="container">
    <h1>Home Counters Management Application</h1>

    <p>Welcome to the Home Counters Management Application! This Django project was developed as the capstone project
        for the
        CS50 Web Programming Course. The application enables users to efficiently track and
        manage various home counters, such as hot-water, electricity, cold-water, and more. Users can add their own
        counters,
        set monthly payments, specify payment per-unit consumption (e.g., kWh for electricity or m3 for water), and
        monitor
        usage trends. The application facilitates accurate monthly payment calculations and provides a detailed overview
        of
        consumption and payment history. It is designed to provide a user-friendly interface for managing
        counter details, recording readings, and calculating accurate monthly payments based on consumption.</p>

    <h3>Key Features</h3>
    <ul>

        <li>Multiple Counter Types: Add and manage different types of home counters, including hot-water, electricity,
            gas,
            cold-water, and more. The application is designed to be flexible and allows users to customize counter types
            to their
            specific needs.
        </li>
        <li>Payment per-Unit Consumption: Specify the price per-unit consumption (e.g., kWh, m3) for each counter. The
            application
            automatically calculates the total payment based on the consumed units, ensuring accurate billing.
        </li>
        <li>Usage Monitoring and Trend Analysis: Record readings for each counter periodically, and the application
            tracks and
            displays consumption patterns over time. Users can analyze usage trends and identify any inefficiencies or
            unusual
            patterns.
        </li>
    </ul>
</div>
{% endblock %}