{% extends "counters/dashboard.html" %}
{% block data %}

<div class="row justify-content-between">
    <div class="col-auto shadow rounded py-3">
        {% include 'counters/partials/readings_table.html' %}
        {% include 'counters/partials/pagination.html' %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url 'counters:reading-create' %}" class='button'>
                <button type="button" class="btn btn-primary">Add Reading</button>
            </a>
        </div>
    </div>
</div>


{% endblock %}
