<div class='comments container'>
    <h6>{{ listing.comments.count }} Comments</h6>
    {% for comment in listing.comments.all %}
        <div class='container comment'>
            <div class="row ">
                <div class='col'>
                    <p class='username'>{{ comment.user }}</p>
                </div>
                <div class='col-3'>
                    <p class='date'>
                        <time  datetime="{{ comment.date }}">{{ comment.date }}</time>
                    </p>
                </div>
            </div>
            <div class='row'>
                <div class='col'>
                    <p class='text'>{{ comment.text }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if user.is_authenticated %}
    <div class='container comment-form'>
        <div class='row'>
            <div class='col'>
                <form action="comment" method='post'>
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <input type=submit value="Post comment">
                </form>
            </div>
        </div>
    </div>

    {% endif %}
</div>